<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brisk | @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <div class="navbar">

            <div id="title">Brisk</div>
            <div>
                @using (Html.BeginForm("Search", "Home", "POST"))
                {
                    <input type="number" name="zip" size="5" placeholder="Zip Code" class="short" />
                    <button type="submit">GO</button>
                }
            </div>
            <nav>
                <ul class="navLinks">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Local</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Favorites">Favorites</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
